MASTER_SERVER_URL=http://localhost:8080
GEOLOCATION_API_KEY=YOUR_GEOLOCATION_API_KEY
LOGFILE_PATH=
SENDGPS=true
STATICGPS=true
GPS_LATITUDE=52.520008
GPS_LONGITUDE=13.404954
GPS_CITY=Berlin
GPS_REGION=Berlin
GPS_COUNTRY=Germany
GPS_ALTITUDE=34.0
GPS_ACCURACY=5.0
